# Mary McDonagh
# Programming for Data Analysis
# Analysis of a real world phenomenom

### Table of Contents
- 1.0 Investigation
- 2.0 Assignment Questions:
- 2.1 Choose a real world phenomenon to collect at least one-hundred data points across at least four different variables.
- 2.2 Investigate the types of variables involved, their likely distributions and their relationships with each other.
- 2.3 Sumulate a data set matching their properties as closely as possible.
- 2.4 Detail my research and output the simulation using a Jupyter notebook. 
- 3.0 Summary
- 4.0 References

## 1.0 Investigation
I have chosen the example reviewing sample census data which I have made up for the purpose of this project. The four variables I will review are age, gender, nationality and work status.

## 2.0 Assignment Questions

### 2.1: Choose a real-world phenomenon that can be measured and for which you could collect at least one-hundred data points across at least four different variables

In [81]:
# import packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [22]:
import numpy as np
x = np.arange(100)

### 2.2 Investigate the types of variables involved, their likely distributions and their relationships with each other.

In [51]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\sam2\\real world phenomenon'

In [52]:
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 'income_data.csv',
 'real world phenomenom.ipynb',
 'samplecensus.csv.csv']

In [92]:
import pandas as pd
pd.read_csv("census.csv")

      Name\tAge\tGender\tNationality\tWork Status
0                 Paul\t10\tMale\tIrish\tEmployed
1            Frank\t22\tMale\tEnglish\tUnemployed
2            Sam\t34\tMale\tFrench\tSelf employed
3                Mike\t56\tMale\tFrench\tEmployed
4              Mark\t78\tMale\tFrench\tUnemployed
5          Shane\t32\tMale\tFrench\tSelf employed
6             Kevin\t65\tMale\tFrench\tUnemployed
7              John\t13\tMale\tFrench\tUnemployed
8            Damien\t18\tMale\tFrench\tUnemployed
9              Paul\t26\tMale\tFrench\tUnemployed
10            Frank\t47\tMale\tFrench\tUnemployed
11              Sam\t41\tMale\tFrench\tUnemployed
12             Mike\t56\tMale\tFrench\tUnemployed
13            Mark\t57\tMale\tEnglish\tUnemployed
14           Shane\t58\tMale\tEnglish\tUnemployed
15           Kevin\t59\tMale\tEnglish\tUnemployed
16            John\t60\tMale\tEnglish\tUnemployed
17          Damien\t61\tMale\tEnglish\tUnemployed
18           Conor\t62\tMale\tEnglish\tUnemployed
19             Rob\t61\tMale\tEnglish\tUnemployed
20           Michael\t61\tMale\tEnglish\tEmployed
21               Tom\t61\tMale\tEnglish\tEmployed
22               Bob\t61\tMale\tEnglish\tEmployed
23              Jack\t61\tMale\tEnglish\tEmployed
24               Sam\t61\tMale\tEnglish\tEmployed
25              Mike\t61\tMale\tEnglish\tEmployed
26              Mark\t18\tMale\tEnglish\tEmployed
27             Shane\t18\tMale\tEnglish\tEmployed
28             Kevin\t18\tMale\tEnglish\tEmployed
29              John\t18\tMale\tEnglish\tEmployed
..                                            ...
75         Paul\t38\tMale\tSpanish\tSelf employed
76          Joe\t39\tMale\tSpanish\tSelf employed
77      Sarah\t40\tFemale\tSpanish\tSelf employed
78   Michelle\t41\tFemale\tSpanish\tSelf employed
79      Rhona\t42\tFemale\tSpanish\tSelf employed
80     Rachel\t43\tFemale\tSpanish\tSelf employed
81            Mary\t44\tFemale\tSpanish\tEmployed
82         Bridget\t45\tFemale\tSpanish\tEmployed
83           Leona\t46\tFemale\tSpanish\tEmployed
84             Etain\t47\tFemale\tIrish\tEmployed
85              Lisa\t48\tFemale\tIrish\tEmployed
86             Linda\t49\tFemale\tIrish\tEmployed
87         Catherine\t50\tFemale\tIrish\tEmployed
88          Caroline\t51\tFemale\tIrish\tEmployed
89           Natalie\t52\tFemale\tIrish\tEmployed
90           Deirdre\t53\tFemale\tIrish\tEmployed
91         Charlotte\t53\tFemale\tIrish\tEmployed
92            Cherol\t53\tFemale\tIrish\tEmployed
93             Sarah\t53\tFemale\tIrish\tEmployed
94           Aisling\t53\tFemale\tIrish\tEmployed
95            Elaine\t25\tFemale\tIrish\tEmployed
96             Lorna\t25\tFemale\tIrish\tEmployed
97              Mary\t25\tFemale\tIrish\tEmployed
98             Ciara\t25\tFemale\tIrish\tEmployed
99         Christine\t25\tFemale\tIrish\tEmployed
100            Aoife\t25\tFemale\tIrish\tEmployed
101             Lisa\t25\tFemale\tIrish\tEmployed
102            Sarah\t25\tFemale\tIrish\tEmployed
103            Ciara\t25\tFemale\tIrish\tEmployed
104          Deirdre\t25\tFemale\tIrish\tEmployed

[105 rows x 1 columns]

In [102]:
df_census = pd.read_csv('https://raw.githubusercontent.com/shakti230/real-world-phenomenon/master/census.csv')
df_census.head()

  Name\tAge\tGender\tNationality\tWork Status
0             Paul\t10\tMale\tIrish\tEmployed
1        Frank\t22\tMale\tEnglish\tUnemployed
2        Sam\t34\tMale\tFrench\tSelf employed
3            Mike\t56\tMale\tFrench\tEmployed
4          Mark\t78\tMale\tFrench\tUnemployed

In [110]:
df_census.boxplot('Age','Gender',rot = 30,figsize=(5,6))

KeyError: 'Gender'

In [107]:
pd.read_csv("income_data.csv")

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

### 2.3 Sumulate a data set matching their properties as closely as possible.

### 2.4 Detail my research and output the simulation using a Jupyter notebook.

### 3.0 Summary

### 4.0 References